---
layout: page
title: Classes
---
<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn-group btn-group-toggle justify-content-center d-flex" data-toggle="buttons">
          <label class="btn btn-sm btn-primary active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
          </label>
          {% for class in site.classes %}
          {% assign list_of_class_types = class.type | append:'#' | append:list_of_class_types %}
          {% endfor %}
          {% assign portfolio-types = list_of_class_types | split:'#' | sort | uniq %}

          {% for type in portfolio-types %}
          <label class="btn btn-sm btn-primary">
            <input type="radio" name="shuffle-filter" value="{{ type }}" />{{ type }}
          </label>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for class in site.classes %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;{{ class.type }}&quot;]">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ class.image }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
          <div class="hover-overlay">
            <div class="hover-content">
              <h4 class="text-white font-weight-bold">{{ class.title }}</h4>
              <h5 class="text-white font-weight-bold">{{ class.price }}</h5>
              <a class="btn btn-light btn-sm" href="{{ class.url }}">view class</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /portfolio -->
{% comment %}
  <!-- clients -->
  <section class="section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">My Clients</h2>
        </div>
      </div>
      {% include client-slider.html %}
    </div>
  </section>
  <!-- /clients -->
{% endcomment %}